.header {
  width: 100%;
  height: 220px;
  display: block;
  background: url("https://www.ptcdn.info/doodle/2017/30oct2017.png") no-repeat center;
  padding: 0;
  margin: 0;
  position: relative;
}

.header-container {
  background: url("https://www.ptcdn.info/doodle/2017/30oct2017-bg.png") repeat top center;
  border-bottom: solid 1px #22203D;
}
